@import "#common/variables.scss";

.wrapper {
    height: 100%;   
    width: 20%;
    background-color: $primary-half-opacity;
    padding: 3rem 1.5rem;
}
.menuOptions {
    font-size: 1.5rem;
    height: 100%;
    display:flex;
    flex-flow: column nowrap;
    gap: 3rem;
}
