@import "#common/variables.scss";

.lg {
    width: 250px;
    height: 70px;
}
.md {
    width: 200px;
}
.sm {
    width: 150px;
}

.green {
    border: $border;
    background-color: #AFE1AF;
}
.red {
    border: $border;
    background-color: #E76363;
}