.lg {
    width: 250px;
    height: 75px;
}
.md {
    width: 200px;
}
.sm {
    width: 150px;
}

.green {
    border: 0.1rem solid black;
    background-color: #AFE1AF;
}
.red {
    border: 0.1rem solid black;
    background-color: #E76363;
}